$mobile: 480px;
$landscape-sm: 768px;
$landscape-lg: 1023px;
$landscape-hd: 1024px;
$desktop: 1199px;
$desktop-hd: 1919px;

$regular: 'Roboto-Regular', 'Arial', sans-serif;
$bold: 'Roboto-Bold', 'Arial', sans-serif;
$italic: 'Roboto-Italic', 'Arial', sans-serif;
$medium: 'Roboto-Medium', 'Arial', sans-serif;
$pro: 'ProximaNova-Regular', 'Arial', sans-serif;
$probold: 'ProximaNova-Bold', 'Arial', sans-serif;
$prosemibold: 'ProximaNova-Semibold', 'Arial', sans-serif;


@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/Roboto-Bold.eot');
  src: url('../font/Roboto-Bold.woff2') format('woff2'),
       url('../font/Roboto-Bold.woff') format('woff'),
       url('../font/Roboto-Bold.ttf') format('truetype'),
       url('../font/Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../font/Roboto-Italic.eot');
  src: url('../font/Roboto-Italic.woff2') format('woff2'),
       url('../font/Roboto-Italic.woff') format('woff'),
       url('../font/Roboto-Italic.ttf') format('truetype'),
       url('../font/Roboto-Italic.svg#Roboto-Italic') format('svg'),
       url('../font/Roboto-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/Roboto-Medium.eot');
  src: url('../font/Roboto-Medium.woff2') format('woff2'),
       url('../font/Roboto-Medium.woff') format('woff'),
       url('../font/Roboto-Medium.ttf') format('truetype'),
       url('../font/Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('../font/Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.eot');
  src: url('../font/Roboto-Regular.woff2') format('woff2'),
       url('../font/Roboto-Regular.woff') format('woff'),
       url('../font/Roboto-Regular.ttf') format('truetype'),
       url('../font/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../font/ProximaNova-Regular.eot');
    src: url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/ProximaNova-Regular.woff2') format('woff2'),
         url('../font/ProximaNova-Regular.woff') format('woff'),
         url('../font/ProximaNova-Regular.ttf') format('truetype'),
         url('../font/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../font/ProximaNova-Bold.eot');
  src: url('../font/ProximaNova-Bold.woff2') format('woff2'),
       url('../font/ProximaNova-Bold.woff') format('woff'),
       url('../font/ProximaNova-Bold.ttf') format('truetype'),
       url('../font/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../font/ProximaNova-Semibold.eot');
  src: url('../font/ProximaNova-Semibold.woff2') format('woff2'),
       url('../font/ProximaNova-Semibold.woff') format('woff'),
       url('../font/ProximaNova-Semibold.ttf') format('truetype'),
       url('../font/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
       url('../font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	background-repeat: repeat;

	&.overflow-hidden {
		overflow: hidden;
	}
}

body {
	width: 100%;
	overflow: hidden;
	margin: 0;
	position: relative;
	background-color: #fff;
	color: #000408;
  	font-family: $regular;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

body {

	* {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4 {
	    padding: 0;
	    margin: 0;
	    font-family: $pro;
    	line-height: 1.4em;
	    text-align: center;
	    text-transform: uppercase;
	    color: #001B28;
	}

	h1 {

	}

	h2 {
    	font-size: 24px;

	    &.cyan {
	      color: #0EE8F4;
    	}
	}

	a {
		transition: all ease .3s;
	}

	p {
	    margin: 0;
	    margin-bottom: 18px;
	}
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.slick-slider {

  .slick-arrow {
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow-blue-big.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    z-index: 3;

    &::before,
    &::after {
		display: none;
    }
  }

  .slick-prev {
    transform: translateY(-50%) rotate(180deg);
    left: 0;
  }

  .slick-next {
  	transform: translateY(-50%);
	right: 0;
  }
}

body .slick-slide {
  outline: none;
  height: auto;
}

.sprite {
	display: none;
}

input,
textarea {
	outline: none;

	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 100%;
  min-height: 40px;
	font-size: 16px;
  line-height: 38px;
	padding-left: 19px;
	padding-right: 19px;
	border: none;
}

.input-error {
  border: 1px solid red!important;
}

textarea {

}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: $italic;
  font-size: 16px;
  color: #666;
}
input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
	font-family: $italic;
  font-size: 16px;
  color: #666;
}
input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* IE 10+ */
	font-family: $italic;
  font-size: 16px;
  color: #666;
}
input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
textarea { /* Firefox 18- */
	font-family: $italic;
  font-size: 16px;
  color: #666;
}

button {
	outline: none;
}

.btn {
    display: block;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    min-height: 40px;
    color: #fff;
    border: none;
    margin: 0 auto;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
    background: -webkit-linear-gradient(left, #02579A 0%, #06C3CD 100%);
    background: -o-linear-gradient(left, #02579A 0%, #06C3CD 100%);
    background: linear-gradient(to right, #02579A 0%, #06C3CD 100%);
    transition: all ease .3s;
    position: relative;
    cursor: pointer;

    &:hover {
        
    }

    &:hover,
    &:focus,
    &:active {

        border: none;
        box-shadow: none;
    }

    &.big {
        max-width: 307px;
    }

    &.small {
        max-width: 200px;
    }
}

table {
  
  &.custom__table__white {

    thead {

      tr {

      }

      th {
        color: #fff;
        text-align: center;

        &.dark {
        	background-color: #012433;
      	}
      }
    }

    td {
      font-family: $prosemibold;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      min-width: 160px;
      min-height: 40px;
      padding: 2px;
      padding-top: 11px;
      padding-bottom: 11px;
      border-collapse: collapse;
      color: #000408;

      @media screen and (max-width: $mobile) {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
      }

      &:nth-child(1) {
        width: 170px;
        color: #fff;

        @media screen and (max-width: $mobile) {
          width: auto;
          max-width: 167px;
        }
      }

      &.empty {

      }

      &.dark {
        background-color: #012433;
      }
    }

    tr {
      border-collapse: collapse;

      &:nth-child(1) {
      	td {
      		padding-top: 15px;
      	}
      }
    }

    tbody {

      td {

        &:nth-child(odd) {
        	background: #F7F7F7;
        }

        &:nth-child(1) {
          background: linear-gradient(89.85deg, #02579A 0.77%, #0266A1 102.36%);
          background-attachment:fixed;
        }
      }
    }

    tfoot {
      td {
        font-size: 20px;
        color: #0266A1;

        @media screen and (max-width: $mobile) {
          font-size: 16px;
        }

        &:nth-child(odd) {
          background-color: #EAEAEA;
        }

        &:nth-child(even) {
          background-color: #F3F3F3;
        }

        &:nth-child(1) {
          background: linear-gradient(89.85deg, #02579A 0.77%, #0266A1 102.36%);
          background-attachment:fixed;
        }

        &.request {
          font-size: 18px;
          color: #8E8E8E;
        }
      }
    }
  }

  &.custom__table__dark {

  }
}

.custom__list {
  list-style: none;
  list-style-image: url(../img/arrow-blue.svg);
  padding: 0;
  padding-left: 33px;
  margin: 0;

  li {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.custom__list__w__checks {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
  list-style-image: url(../img/icon-check.svg);

  li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

header {

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  @media screen and (max-width: 576px) {
    position: relative;
    top: auto;
    left: auto;
  }
}

.header {
  background-color: #000408;

  &__top {
	width: 100%;

	@media screen and (max-width: $landscape-lg) {
		padding-top: 10px;
		padding-bottom: 15px;
	}

	@media screen and (max-width: $landscape-sm) {
		padding-top: 0;
		padding-bottom: 0;
	}

	&__left {
		width: 40%;

      @media screen and (max-width: $desktop) {
        width: 32%;
      }
  	}

  	&__right {
		width: 60%;

      @media screen and (max-width: $desktop) {
        width: 68%;
      }

    .header__phone {
      font-size: 20px;
    }

    .btn.big {
      @media screen and (max-width: $landscape-hd) {
        margin-left: auto;
      }

      @media screen and (max-width: $landscape-sm) {
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }
  }

	&__left,
	&__right {
		display: flex;
		align-items: center;

		@media screen and (max-width: $landscape-lg) {
			width: 100%;
		}

		@media screen and (max-width: $landscape-sm) {
			flex-direction: column;
		}
	}
		
	.container {
		width: 100%;
  		min-height: 69px;
		display: flex;
		align-items: center;
		justify-content: space-between;
  		position: relative;

  		@media screen and (max-width: $landscape-lg) {
			flex-direction: column;
		}

      &::before {
        // content: "";
        position: absolute;
        bottom: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 2px;
        background-color: #02579A;
      }
	}

	.btn {
		margin: 0;

  		@media screen and (max-width: 576px) {
        font-size: 14px;
  			margin-bottom: 15px;
  		}
  	}
  }


  &__logo {
		display: block;
		width: 192px;
		height: 25px;
		margin-right: 50px;
		flex-shrink: 0;

    @media screen and (max-width: $desktop) {
      margin-right: 15px;  
    }

		@media screen and (max-width: $landscape-lg) {
			margin-left: 0;
			margin-right: auto;
		}

		@media screen and (max-width: $landscape-sm) {
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;
		}
  }

  &__phone {
    font-family: $prosemibold;
  	font-size: 24px;
  	color: #0DE3F1;
  	text-decoration: none;
  	margin-left: auto;
    margin-right: 20px;
    flex-shrink: 0;

    @media screen and (max-width: $landscape-lg) {
      font-size: 20px;
      margin-left: 0;
      margin-right: 10px;
    }

    @media screen and (max-width: $landscape-sm) {
      font-size: 22px;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-left: 0;

      @media screen and (max-width: $landscape-sm) {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }
}

.lp__switch {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;

  @media screen and (max-width: $landscape-lg) {
  	margin-right: 0;
  }

  @media screen and (max-width: $landscape-sm) {
  	margin-bottom: 15px;
  }

  &__icon {
    width: 23px;
    height: 13px;
    background-image: url(../img/arrow-white-custom.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px 13px;
    margin-right: 10px;
    transform: rotate(180deg);
  }

  &__title {
    font-family: $prosemibold;
    font-size: 18px;
    color: #fff;
  }
}

.header__menu__wrap {
  background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);
  transition: all ease-in-out .4s;

  @media screen and (max-width:$landscape-lg) {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
	transform: translateY(-600px);
	z-index: 9;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 9px 7.92px 0.08px rgba(0,0,0,.2);

	&.active {
		transform: translateY(0);
	}
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 40px;

  @media screen and (max-width:$landscape-lg) {
  	flex-direction: column;
  	padding: 0 30px;
  }
}

.header__menu__item {
  font-family: $pro;
  font-size: 15px;
  color: #fff;
  text-decoration: none;

  @media screen and (max-width:$landscape-lg) {
  	margin-bottom: 7px;
  }
}

.mob__menu__btn {
  display: none;
  position: fixed;
  top: 120px;
  right: 15px;
  width: 28px;
  height: 28px;
  background-color: rgba(250, 250, 250, 0);
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
  transform: rotate(0deg);
  transition: .5s ease-in-out;

  @media screen and (max-width: $landscape-lg) {
  	display: block;
  }

  @media screen and (max-width: $landscape-sm) {
	 top: 17px;
  }

  span {
  	  display: block;
	  position: absolute;
	  height: 4px;
	  width: 100%;
	  background: #0EE8F4;
	  border-radius: 0;
	  opacity: 1;
	  left: 0;
	  transform: rotate(0deg);
	  transition: .25s ease-in-out;

	  &:nth-child(1) {
		top: 3px;
	  }

	  &:nth-child(2),
	  &:nth-child(3) {
		top: 12px;
	  }

	  &:nth-child(4) {
		top: 21px;
	  }
  }

  &.active {

  	span {
    // background-color: #fff;

		&:nth-child(1) {
			top: 12px;
		 	width: 0%;
		 	left: 50%;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}

		&:nth-child(4) {
			top: 12px;
  			width: 0%;
  			left: 50%;
		}
  	}
  }
}

.first__screen {
  // display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  // top: -70px;
  // padding-bottom: 70px;
  // transform: translateY(70px);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11;
  // background-color: #01080F;
  background: rgb(1,37,53); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(1,37,53,1) 0%, rgba(0,4,8,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(1,37,53,1) 0%,rgba(0,4,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(1,37,53,1) 0%,rgba(0,4,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012535', endColorstr='#000408',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-overflow-scrolling: touch;
  transition: all ease-in-out .9s;

  @media screen and (max-width: $landscape-lg) {
    overflow-y: auto;
  }

  @media screen and (max-width: $landscape-sm) {
    padding-bottom: 0;
  }

  .header__top {

  	.container {
      position: relative;

	  	@media screen and (max-width: $landscape-lg) {
			 flex-direction: row;
	  	}

	  	@media screen and (max-width: $landscape-sm) {
	  		flex-direction: column;
	  	}

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 2px;
        background-color: #02579A;
      }
  	}

  	.btn {
  		@media screen and (max-width: $landscape-sm) {
  			margin-bottom: 15px;
  		}
  	}
  }


  &.hidden {
  	transform: translateY(-1500px);
  }

  .header__menu_wrap {
    display: none;
  }

  .header__logo {
    margin-right: auto;

    @media screen and (max-width: $landscape-sm) {
    	margin: 0 auto;
    	margin-top: 10px;
    	margin-bottom: 12px;
    }
  }

  .header__phone {

    @media screen and (max-width: $landscape-hd) {
      margin-left: 0;
    }

    @media screen and (max-width: $landscape-sm) {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

  &.medium {
    overflow: hidden;

    .choose__block__item__content {
      min-height: auto;
      max-height: 360px;
    }
  }

  &.small {
    overflow: hidden;

    .choose__block__title {
      margin-bottom: 5px;
    }

    .choose__block__title__under {
      margin-bottom: 5px;
    }

    .choose__block__item__item__title {
      margin-bottom: 5px;
    }

    .choose__block__item__content {
      min-height: auto;
      max-height: 200px;
      padding: 20px 21px 12px 30px;
    }
  }

  &.centered {

    .choose__block {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateX(1px) translateY(-50%) translateY(1px);
    }

    &.small {

      .choose__block {
        top: 57%;
      } 
    }
  }
}

.choose__block {
  padding-bottom: 15px;

  @media screen and (max-width: $landscape-lg) {
  	padding-top: 20px;
    padding-bottom: 0;
  }

  &__title {
    font-family: $probold;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #0EE8F4;
    margin-top: 5px;
    margin-bottom: 5px;

    @media screen and (max-width: $mobile) {
      margin-bottom: 15px;
    }
  }

  &__title__under {
    font-family: $probold;
    font-size: 24px;
    line-height: 29px;
    color: #0EE8F4;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media screen and (max-width: $landscape-sm) {
      margin-bottom: 23px;
    }
  }

  &__footnote {
    font-size: 14px;
    color: #797979;
    background-color: #EBEBEB;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: -499px;
      left: 0;
      width: 100%;
      height: 500px;
      background-color: #EBEBEB;

      @media screen and (max-width: $landscape-lg) {
        display: none;
      }
    }
  }
}

.choose__block__items__wrap {
  display: flex;
  margin: 0 -5px;

  @media screen and (max-width: $landscape-sm) {
  	flex-direction: column;
  }
}

.choose__block__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  position: relative;

  @media screen and (max-width: $landscape-sm) {
  	width: 100%;
  	margin-bottom: 30px;

  	&:last-of-type {
		  margin-bottom: 0;
  	}
  }

  &:nth-child(1) {

    .choose__block__item__title {
      color: #0C85E1;
    }

    .choose__block__item__content__wrap {
      background-color: #fff;

      @media screen and (max-width: $landscape-sm) {
        background-color: transparent;
      }

      &::before,
      &::after {
        background-color: #fff;

        @media screen and (max-width: $landscape-sm) {
          display: none;
        }
      }

      &::before {
        left: -999px;
        width: 1000px;
      }

      &::after {
        right: -5px;
        width: 5px;
      }
    } 
  }

  &:nth-child(2n) {

    &::before {
      background-color: #0EE8F4;
    }

    .choose__block__item__heading {
      border: 2px solid #0EE8F4;

      &::before {
        border-left: 2px solid #0EE8F4;
        border-bottom: 2px solid #0EE8F4;
      }
    }

    .choose__block__item__content__wrap {
      background-color: #F5F5F5;

      @media screen and (max-width: $landscape-sm) {
        background-color: transparent;
      }

      &::before,
      &::after {
        background-color: #F5F5F5;

        @media screen and (max-width: $landscape-sm) {
          display: none;
        }
      }

      &::before {
        right: -999px;
        width: 1000px;
      }

      &::after {
        left: -5px;
        width: 5px;
      }
    }

    .choose__block__item__content {
      background-color: #F5F5F5;
    } 

    .choose__block__item__content__title__wrap {

      &::before {
        background-color: #0EE8F4;
      }
    }

    .choose__block__item__title {
      color: #0EE8F4;
    }

    .choose__block__item__content__title {
      background-color: #f5f5f5;
    }

    .choose__block__item__content__list {
      max-height: 320px;

      @media screen and (max-width: $desktop) {
      	max-height: 450px;
      }

      @media screen and (max-width: $landscape-lg) {
		    max-height: 100%;
      }
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $pro;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 25px;
    border: 2px solid #02579A;
    min-height: 84px;
    position: relative;

    @media screen and (max-width: $landscape-sm) {
      margin-bottom: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      width: 18px;
      height: 18px;
      border-left: 2px solid #02579A;
      border-bottom: 2px solid #02579A;
      transform: translateX(-50%) rotate(-45deg);

      @media screen and (max-width: $landscape-sm) {
        display: none;
      }
    }

    &::after {
      content: "";
      height: 0;
      width: 0;
      border: solid transparent;
      border-top-color: #031020;
      border-width: 14px;
      position: absolute;
      bottom: -27px;
      left: 50%;
      transform: translateX(-50%);

      @media screen and (max-width: $landscape-sm) {
        display: none;
      }
    }
  }

  &__title {
    font-family: $pro;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;

    @media screen and (max-width: $landscape-sm) {
      order: -1;
    }
	}

  &__content {
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    padding: 25px 21px 12px 30px;
    margin-bottom: 12px;
    overflow: auto;
    flex-grow: 1;
    min-height: 520px;
    position: relative;

    &::after {
      content: "";
      height: 0;
      width: 0;
      border: solid transparent;
      border-top-color: #031020;
      border-width: 14px;
      position: absolute;
      top: -2px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 15px;
      height: 100%;
      @media screen and (max-width: $landscape-lg) {
        height: auto;
        flex-grow: 1;
      }

      &::before,
      &::after {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
      }
    }

    @media screen and (max-width: $landscape-sm) {
      display: none;
      overflow: hidden;
      min-height: auto;
    }

    &.small {
    	max-height: 150px;
	    overflow-y: auto;
	    overflow-x: hidden;
    }
  	
  	&__heading {
      margin-bottom: 12px;
  	}

    &__title__wrap {
      position: relative;
      text-align: center;
      margin-bottom: 15px;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #02579A;
        top: 50%;
        left: 0;
        position: absolute;
      }
    }

  	&__title {
      display: inline-block;
      vertical-align: middle;
      font-family: $probold;
      font-size: 20px;
      padding-left: 8px;
      padding-right: 8px;
      position: relative;
      background-color: #fff;

      @media screen and (max-width: $mobile) {
        font-size: 18px;
      }
  	}

  	&__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      list-style: none;
      list-style-image: url(../img/arrow-blue.svg);
      padding: 0;
      padding-left: 33px;
      margin: 0;
      max-height: 360px;

      @media screen and (max-width: $desktop) {
      	max-height: 550px;
      }

      @media screen and (max-width: $landscape-lg) {
      	max-height: 100%;
      }

  		&__item {
        width: 50%;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
        padding-right: 40px;

        @media screen and (max-width: $landscape-lg) {
  				width: 100%;
        }

        @media screen and (max-width: $landscape-sm) {
          padding-right: 0;
        }
  		}
  	}
  }
}

.main__title__wrap {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 23px;
  background: radial-gradient(938.00px at 38.62% 16.99%, #012535 0%, #000408 100%);

  &.mt {
    margin-top: 109px;
  }
}

.main__title {
  font-family: $pro;
  font-size: 36px;
  color: #0EE8F4;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.main__block {
  padding-bottom: 45px;

  &__heading {
    text-align: center;
    position: relative;
    padding-top: 38px;
    padding-bottom: 23px;
    border-bottom: 1px solid #0EE8F4;

    &__title {
      font-family: $probold;
      font-size: 24px;
      text-transform: uppercase;
      color: #001B28;
      margin-bottom: 20px;

      &__under {
        font-size: 14px;
        line-height: 20px;
        max-width: 710px;
        margin: 0 auto;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    padding-top: 22px;

    @media screen and (max-width: $landscape-lg) {
    	align-items: flex-start;
	}

    @media screen and (max-width: $landscape-sm) {
    	flex-direction: column;
    }

    &__image__block {
      margin-right: 30px;

      @media screen and (max-width: $landscape-sm) {
      	margin-right: 0;
      	margin-bottom: 25px;
      }
    }

    &__image {

    }

    &__text__block {

    }
  }

  .custom__list__w__checks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    li {
      width: 33%;
      padding-right: 60px;

      @media screen and (max-width: $landscape-lg) {
      	width: 50%;
      }

      @media screen and (max-width: $mobile) {
		width: 100%;
		padding-right: 0;
      }
    }
  }
}

.features__block {
  padding-top: 63px;
  padding-bottom: 43px;
  color: #fff;
  background: radial-gradient(938.00px at 38.62% 16.99%, #012535 0%, #000408 100%);

  .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $landscape-lg) {
    	flex-direction: column;
    }
  }

  &__switches__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 574px;
    flex-shrink: 0;
    margin-right: 65px;
    position: relative;

    @media screen and (max-width: $landscape-lg) {
    	justify-content: space-around;
    	max-width: 100%;
    	margin-right: 0;
    	margin-bottom: 25px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -65px;
      transform: translateY(-50%);
      width: 23px;
      height: 13px;
      background-image: url(../img/arrow-blue.svg);
      background-size: 22px 13px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .features__block__switch {
    font-family: $prosemibold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 277px;
    min-height: 70px;
    background-color: #02579A;
    padding: 0 15px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    @media screen and (max-width: $landscape-lg) {
    	margin: 0 5px;
    	margin-bottom: 20px;
    }


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);
      opacity: 0;
      transition: all ease .3s;
    }

    &:hover {

      &::before {
        opacity: 1;
      }
    }

    &.active {

      &::before {
          opacity: 1;
      }
    }

    &__title {
      font-family: $pro;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      position: relative;
      z-index: 1;
    }
  }

  &__tabs__wrap {

  }

  &__tab {
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding-left: 30px;

    @media screen and (max-width: $mobile) {
    	padding-left: 10px;
    }

    &__title {
      font-size: 20px;
      line-height: 1.3em;
      padding-bottom: 25px;
    }

    &__text {

    }
  }
}

.scope__block {
  padding-top: 45px;
  padding-bottom: 40px;

  &__title {
    display: block;
    font-family: $probold;
    font-size: 24px;
    color: #001B28;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__items__wrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    @media screen and (max-width: $landscape-lg) {
    	justify-content: center;
    }
  }

  &__item {
    width: 20%;
    padding: 0 10px;
    margin-bottom: 20px;

    @media screen and (max-width: $landscape-lg) {
    	width: 33%;
    	margin-bottom: 50px;
    }

    @media screen and (max-width: $landscape-sm) {
		width: 50%;
    }

    @media screen and (max-width: $mobile) {
		width: 100%;

		&:last-of-type {
			margin-bottom: 0;
		}
    }

    &:nth-child(3) {
      .scope__block__item__text {
        max-width: 200px;
      }
    }

    &:nth-child(5) {
      .scope__block__item__text {
        max-width: 150px;
      }
    }

    &__image {
      width: 73px;
      margin: 0 auto;
      height: 66px;
      margin-bottom: 27px;
      position: relative;

      svg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }

      &.icon-house {
        svg {
          width: 66px;
          height: 66px;
        }
      }

      &.icon-building {
        svg {
          width: 60px;
          height: 60px;
        }
      }

      &.icon-scheme {
        svg {
          width: 66px;
          height: 66px;
        }
      }

      &.icon-house-w-flag {
        svg {
          width: 73px;
          height: 66px;
        }
      }

      &.icon-tree {
        svg {
          width: 66px;
          height: 66px;
        }
      }
    }

    &__title {
      font-family: $prosemibold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.advantages__block {
  padding-top: 50px;
  padding-bottom: 55px;

  &__title {
    font-family: $pro;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    padding-left: 33px;
    margin: 0;
    list-style: none;
    list-style-image: url(../img/icon-check.svg);

    &__item {
      width: 33%;
      padding-right: 40px;
      font-size: 16px;
      line-height: 23px;
      color: #fff;
      margin-bottom: 14px;

      @media screen and (max-width: $landscape-sm) {
      	width: 50%;
      }

      @media screen and (max-width: $mobile) {
		width: 100%;
		padding-right: 0;
      }
    }
  }
}

.purchase__block {
  padding-top: 55px;
  padding-bottom: 69px;

  .container {
    position: relative;
  }

  &__title {
    font-family: $probold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #001B28;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  &__table {
  	font-family: $pro;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;

    @media screen and (max-width: $landscape-sm) {
  		margin-bottom: 20px;
    }

    thead {

    	tr {
    		background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);
        	background-attachment:fixed;
    	}

    	th {
			text-align: center;
			font-weight: 600;
    	}
    }

    img {
    	max-width: 100%;
    }
  }
}


.license__block {
  padding-bottom: 50px;

  .container {
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: $landscape-lg) {
    	flex-direction: column;
    }
  }

  &__left {
    font-size: 14px;
    line-height: 20px;
    max-width: 396px;
    margin-right: 49px;
    position: relative;

    @media screen and (max-width: $landscape-lg) {
    	max-width: 100%;
    	margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -49px;
      transform: translateY(-50%);
      width: 23px;
      height: 13px;
      background-image: url(../img/arrow-blue.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-image: 23px 13px;

      @media screen and (max-width: $landscape-lg) {
      	display: none;
      }
    }
  }

  &__right {
    padding-left: 27px;
    position: relative;

    @media screen and (max-width: $landscape-lg) {
    	width: 100%;
    	padding-left: 0;
    }
  }

  &__text {

    p {

    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 27px;

    thead {

      tr {
      	background: linear-gradient(90deg, #02579A 50%, #06C3CD 100%);
      	background-attachment: fixed;
      }

      th {
        font-size: 16px;

        @media screen and (max-width: $mobile) {
          font-size: 14px;
        }
      }
    }

    tbody {

      td {
        
        &:nth-child(1) {
          font-size: 14px;
          line-height: 19px;
        }

        &:not(&:nth-child(1)) {
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }

  &__image {
  	max-width: 100%;

  	@media screen and (max-width: $landscape-lg) {
  		display: block;
  		margin: 0 auto;
  	}
  }

  &__footnote {

      p {
        font-family: $probold;
        font-size: 14px;
        line-height: 19px;
        color: #000408;
        margin-top: 0;
        margin-bottom: 3px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
  }

  &__text__info {
    font-size: 16px;
    line-height: 23px;
    color: #000408;
    padding-left: 17px;
    border-left: 6px solid #E14646;
    position: relative;
    max-width: 500px;

    @media screen and (max-width: $mobile) {
    	padding-left: 33px;
    }
  }
}

.license__term__block {
  padding-top: 73px;
  padding-bottom: 90px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(1, 37, 53, 0) 0.96%, #00111A 45.83%);

    @media screen and (max-width: $landscape-lg) {
    	background: linear-gradient(90deg, rgba(1, 37, 53, 0) 0.96%, #00111A 25.83%);
    }

    @media screen and (max-width: $landscape-sm) {
		background: rgba(0,0,0, .8);
    }
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    position: relative;
    padding-left: 460px;

    @media screen and (max-width: $landscape-lg) {
    	padding-left: 250px;
    }

    @media screen and (max-width: $landscape-sm) {
		padding-left: 0;
    }

    p {
      margin-bottom: 34px;
    }
  }

  .custom__list {
    margin-bottom: 45px;
  }

  &__title {
    font-family: $medium;
    font-size: 18px;
    line-height: 25px;
    color: #0EE8F4;
    margin-bottom: 29px;
  }

  &__footnote {
    font-size: 14px;
    line-height: 20px;
  }
}

.firewall__block {

  .container {
    padding-top: 56px;
    padding-bottom: 85px;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: $landscape-sm) {
    	flex-direction: column;
    }

    @media screen and (max-width: $mobile) {
		padding-bottom: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #0EE8F4;
    }
  }

  &__main {
    padding-right: 20px;
    margin-right: 30px;

    @media screen and (max-width: $landscape-sm) {
    	padding-right: 0;
    	margin-right: 0;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: #000408;
    }
  }

  &__side {

  	@media screen and (max-width: $landscape-sm) {
    	order: -1;
    	margin-bottom: 30px;
    }
  }

  &__image {
	max-width: 100%;
  }
}

.certificates__block {
  padding-top: 32px;
  padding-bottom: 67px;

  @media screen and (max-width: $mobile) {
  	padding-bottom: 50px;
  }

  &__title {
    font-family: $probold;
    font-size: 24px;
    line-height: 29px;
    color: #001B28;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
  }

  &__content {
    display: flex;

    @media screen and (max-width: $landscape-sm) {
    	flex-direction: column;
    }
  }

  &__side {
    margin-right: 53px;

    @media screen and (max-width: $landscape-sm) {
    	margin-right: 0;
    }
  }

  &__main {
    p {

    }
  }

  &__image__wrap {
  	display: block;
  }

  &__image {
  	display: block;

	@media screen and (max-width: $landscape-sm) {
		margin: 0 auto;
		margin-bottom: 25px;
	}
  }

  .custom__list__w__checks {
    margin-bottom: 36px;
  }
}

.faq__block {
  padding-top: 55px;
  padding-bottom: 94px;
  background: radial-gradient(556.99px at 38.62% 16.99%, #012535 0%, #000408 100%);

  @media screen and (max-width: $mobile) {
  	padding-bottom: 70px;
  }

  &__title {
    font-family: $pro;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #0EE8F4;
    margin-bottom: 45px;
  }

  &__items__wrap {
    max-width: 970px;
    margin: 0 auto;
  }

  &__item {
    margin-bottom: 10px;

    &.open {

      .faq__block__item__heading__arrow {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &__heading {
      display: flex;
      align-items: center;
      font-family: $pro;
      font-size: 20px;
      line-height: 1.3em;
      color: #fff;
      background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);
      min-height: 60px;
      padding: 10px 70px 10px 27px;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: $mobile) {
        padding-right: 50px;
      }

      &__arrow {
        position: absolute;
        top: 50%;
        right: 43px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        background-image: url(../img/arrow-white.svg);
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;

        @media screen and (max-width: $mobile) {
          right: 23px;
        }
      }
    }

    &__content {
      display: none;
      font-size: 16px;
      line-height: 23px;
      color: #fff;
      padding: 34px 27px;
    }
  }
}

.partners__block {
  padding-top: 68px;
  padding-bottom: 80px;

  @media screen and (max-width: $mobile) {
  	padding-bottom: 70px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 43px;
  }

  &__slider {

  	padding: 0 20px;
    
    .slick-track {
      display: flex;
      align-items: center;
    }

    &__item {

      &__image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}

.success__block {
  padding: 57px 20px 87px 20px;
  background-color: #F7F7F7;

  &__title {
    margin-bottom: 60px;  
  }

  &__slider {
  	padding: 0 15px;

  	@media screen and (max-width: $mobile) {
  		padding: 0;
  	}

  	.slick-prev {
		left: -20px;
  	}

  	.slick-next {
		right: -20px;
  	}

    &__item__wrap {

    }

    &__item {
      max-width: 1063px;
      margin: 0 auto;

      &__main {
        display: flex;

        @media screen and (max-width: $landscape-sm) {
			flex-direction: column;
        }
      }

      &__bottom {
        padding: 58px 48px 42px 85px;
        color: #fff;
        background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);

        @media screen and (max-width: $mobile) {
        	padding: 20px;
        	padding-top: 50px;
        }

        blockquote {
          font-family: $pro;
          font-size: 18px;
          line-height: 26px;
          margin: 0;
          padding: 0;
          position: relative;

          @media screen and (max-width: $mobile) {
          	font-size: 16px;
          	line-height: 22px;
          }

          &::before {
            content: "“";
            font-family: $prosemibold;
            font-size: 100px;
            color: #fff;
            position: absolute;
            top: -10px;
            left: -65px;

            @media screen and (max-width: $mobile) {
				top: -10px;
				left: 0;
            }
          }
        }
      }

      &__image {
		width: 464px;
		min-height: 397px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		flex-shrink: 0;
		flex-grow: 1;

		@media screen and (max-width: $landscape-hd) {
			width: 280px;
		}

		@media screen and (max-width: $landscape-sm) {
			width: 100%;
			min-height: 280px;
			height: 280px;
		}

		@media screen and (max-width: $mobile) {
			min-height: 180px;
			height: 180px;
		}
      }

      &__content {
        padding: 48px 39px 32px 53px;
        background-color: #fff;

        @media screen and (max-width: $landscape-sm) {
        	padding: 35px 39px 32px 35px;
        }

        @media screen and (max-width: $mobile) {
			padding: 15px;
			padding-top: 25px;
			padding-bottom: 25px;
        }
      }

      &__title {
        font-family: $probold;
        font-size: 20px;
        margin-bottom: 34px;
      }

      &__list__title {
        font-family: $bold;
        font-size: 18px;
        margin-bottom: 17px;
      }

      .custom__list__w__checks {
        margin-bottom: 28px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.leave__request__block {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(1, 37, 53, 0) 0.96%, #00111A 45.83%);

    @media screen and (max-width: $mobile) {
    	background-color: rgba(0,0,0, .75);
    }
  }

  .container {
    position: relative;
  	min-height: 232px;
  	padding-bottom: 67px;
  }
}

.leave__request__reminder {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $probold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0EE8F4;
}

.leave__request__form {
  padding-top: 42px;

  &__title {
    font-family: $probold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #0EE8F4;
    margin-bottom: 10px;

    &__under {
      font-size: 16px;
      text-align: center;
      color: #fff;
      margin-bottom: 33px;
    }
  }

  &__inputs__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $landscape-sm) {
    	flex-direction: column;
    }

    input {
      max-width: 234px;
      margin-right: 30px;

      @media screen and (max-width: $landscape-sm) {
      	margin-right: 0;
      	margin-bottom: 20px;
      }
    }

    .btn {
      margin: 0;
    }
  }

  .conf__policy {
    margin-top: 20px;
    color: #fff;
    text-align: center;
  }
}

.map__block {
  min-height: 692px;
  position: relative;

	@media screen and (max-width: $mobile) {
		min-height: auto;
	}

  .container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: $mobile) {
    	position: relative;
    	top: auto;
    	left: auto;
    	transform: translateX(0);
    	padding: 0;
    }
  }
}

.map__wrap {

	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.contacts__block {
  background-color: #fff;
  padding: 44px 33px 44px 33px;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  max-width: 490px;

  @media screen and (max-width: $mobile) {
  	max-width: 100%;
  	position: relative;
  	top: auto;
  	left: auto;
  	padding: 35px 30px 35px 30px;
  }

  &__title {
    font-family: $probold;
    font-size: 24px;
    line-height: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: #001B28;
    margin-bottom: 15px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.social {
      align-items: center;
    }

    &.phones {
      flex-direction: column;
      padding-left: 51px;

      @media screen and (max-width: $mobile) {
        padding-left: 44px;
      }

      a {
        font-size: 16px;
        line-height: 23px;
        color: #000;
        text-decoration: none;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &__image {
      display: block;
      width: 34px;
      height: 34px;
      margin: 0;
      margin-right: 17px;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;

      @media screen and (max-width: $mobile) {
      	margin-right: 10px;
      }
    }
    
    &__content {
      font-size: 16px;
      line-height: 23px;
      color: #000;

      &__inner__text {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      p {
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  min-height: 43px;
  background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 576px) {
      padding-top: 8px;
      padding-bottom: 8px;
      flex-direction: column;
    }
  }
}

.footer__conf__policy {
  font-size: 14px;
  color: #fff;

  @media screen and (max-width: 576px) {
    margin-bottom: 3px;
  }
}

.copyright {
  font-size: 14px;
  color: #fff;
  margin: 0 auto;

  @media screen and (max-width: 576px) {
    margin: 0 auto;
    margin-bottom: 3px;
  }
}

.copyright__texterra {
  display: flex;
  align-items: center;

  &__text {
    color: #fff;
  }

  &__link {
      display: block;
      width: 60px;
      height: 14px;
      margin-top: -5px;
      margin-left: 5px;
      flex-shrink: 0;
      position: relative;

    svg {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.conf__policy {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;

  a {
    color: #02579A;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .6);
  z-index: 11;
}

.popup,
.popup__reminder {
  display: none;
  width: 100%;
  background-color: #fff;
  bottom: calc(50% + .5px);
  right: calc(50% + .5px);
  transform:  translateY(50%) translateY(1px) translateX(50%) translateX(1px);
  position: fixed;
  max-height: 100vh;
  overflow: auto;
  z-index: 12;
}

.popup__close {
  top: 13px;
  right: 13px;
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;

  @media screen and (max-width: $mobile) {
    top: 32px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #C3C3C3;
  }

  &::before {
    width: 18px;
    height: 2px;
    transform: rotate(45deg);
  }

  &::after {
    width: 18px;
    height: 2px;
    transform: rotate(135deg);
  }
}

.popup__content {

  input[type="tel"],
  input[type="text"],
  input[type="email"] {
    display: block;
    max-width: 234px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #EAEAEA;
  }
}

.popup__title {
  font-family: $probold;
  font-size: 24px;
  line-height: 1.3em;
  color: #001B28;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.order__usergate__test__popup,
.order__kerio__test__popup {
  max-width: 358px;
  padding: 35px 10px 40px 10px;

  @media screen and (max-width: $mobile) {
    padding-top: 50px;
  }

  .conf__policy {
    max-width: 234px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.leave__request__popup,
.callback__popup {
	max-width: 326px;
	padding: 35px 10px 40px 10px;

  @media screen and (max-width: $mobile) {
    padding-top: 50px;
  }

  .conf__policy {
    max-width: 234px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.popup__reminder {
	max-width: 320px;
	min-height: 102px;
	background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);

	.popup__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: $probold;
		font-size: 24px;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}

	.popup__close {

		&::before,
		&::after {
			background-color: #fff;
		}
	}
}

.conf__policy__popup {
  display: none;
  width: 100%;
  background-color: #fff;
  bottom: calc(50% + .5px);
  right: calc(50% + .5px);
  transform:  translateY(50%) translateY(1px) translateX(50%) translateX(1px);
  position: fixed;
  max-height: 100vh;
  overflow: auto;
  z-index: 12;
  padding: 35px 10px 40px 10px;
  max-width: 650px;

  @media screen and (max-width: $mobile) {
    padding-top: 50px;
  }

  .popup__title {

    @media screen and (max-width: $mobile) {
      font-size: 20px;
    }
  }

  .popup__content {
    padding: 0 15px;
  }

  ul {
    li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// SWITCH 

body {

  &[data-switch="usergate"] {

    .main__block__content__image__block {
      margin-right: 30px;

      @media screen and (max-width: $landscape-sm) {
      	margin: 0 auto;
      	margin-bottom: 25px;
      }
    }

    .advantages__block {
      background: radial-gradient(302.15px at 38.62% 16.99%, #012535 0%, #000408 100%);
    }

    .purchase__block {
    	thead {
    		th {
    			text-align: center;
    			font-size: 18px;
    			line-height: 24px;

    			@media screen and (max-width: $mobile) {
    				font-size: 16px;
    			}
    		}
    	}

      tbody {
        tr:last-of-type {
          td {
            font-size: 20px;
            color: #0266A1;

            @media screen and (max-width: $mobile) {
              font-size: 16px;
            }

            &:nth-child(odd) {
              background-color: #EAEAEA;
            }

            &:nth-child(even) {
              background-color: #F3F3F3;
            }

            &:nth-child(1) {
              color: #fff;
              background: #012433;
            }

            &.request {
              font-size: 18px;
              color: #8E8E8E;
            }
          }
        }
      }

      .tablesaw-advance a.tablesaw-nav-btn.left,
      .tablesaw-advance a.tablesaw-nav-btn.right {
        top: 72px;
      }

      .tablesaw-advance a.tablesaw-nav-btn.left {
        left: 170px;

        @media screen and (max-width: $mobile) {
          left: 230px;
        }

        @media screen and (max-width: 420px) {
          left: 155px;
        }
      }

      .tablesaw-advance a.tablesaw-nav-btn.right {
        right: 0;
      }
    }

    .license__block {
    	background-color: #F7F7F7;
    	padding-top: 40px;
    }

    .license__block__table {

    	td {
        padding-left: 7px;
        padding-right: 7px;

    		&:nth-child(1) {
				  width: 223px;

          @media screen and (max-width: $mobile) {
            font-size: 15px;
            width: 167px;
            max-width: 167px;
          }
    		}
    	}
    }
  }

  &[data-switch="kerio"] {

    .main__block .custom__list__w__checks li {
      padding-right: 40px;
    }

    .main__block__content__image__block {
      padding-left: 45px;
      margin-right: 74px;

      @media screen and (max-width: $landscape-sm) {
      	padding-left: 0;
      	margin: 0 auto;
      	margin-bottom: 25px;
      }
    }

    .advantages__block {
      background-color: #fff;
    }

    .advantages__block__list__item {
      color: #000408;
    }

    .purchase__block {
      background: radial-gradient(640.83px at 38.62% 16.99%, #012535 0%, #000408 100%);
    }

    .purchase__block__title {
    	margin-bottom: 15px;
    }

    .license__block {
      padding-top: 23px;
      padding-bottom: 53px;
    }

    .license__block__left {
      max-width: 630px;
      margin-right: 47px;

      &::after {
        display: none;
      }

      @media screen and (max-width: $landscape-lg) {
      	max-width: 100%;
      	margin-right: 0;
      	margin-bottom: 25px;
      }
    }

    .license__block__text__info {
    	margin-bottom: 20px;
    }

    .purchase__block {

      .tablesaw-advance a.tablesaw-nav-btn.left,
      .tablesaw-advance a.tablesaw-nav-btn.right {
        top: 70px;
      }

      .tablesaw-advance a.tablesaw-nav-btn.left {
        left: 150px;
      }

      .tablesaw-advance a.tablesaw-nav-btn.right {
        right: 0;
      }
    }

    .purchase__block__table {
      font-family: $pro;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      position: relative;

      @media screen and (max-width: $landscape-sm) {
      	font-size: 16px;
      	line-height: 22px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);
      }

      td {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;

        @media screen and (max-width: $landscape-sm) {
        	padding-left: 10px;
        	padding-right: 10px;
        }

        &:nth-child(1) {
          background-color: #02579A;
        }
      }

      thead {
        background: linear-gradient(90deg, #02579A 0%, #06C3CD 100%);
        background-attachment:fixed;

        th {
          text-transform: uppercase;
          padding: 11px 45px 7px 45px;
          min-height: 62px;
          text-align: center;

          	@media screen and (max-width: $landscape-sm) {
        		padding-left: 15px;
        		padding-right: 15px;
        	}
        }
      }

      tbody {

        td {
          padding-top: 30px;
          padding-bottom: 15px;
        }

        td:last-of-type {
          color: #0EE8F4;
        }

        tr {

          &:first-of-type {
            border-bottom: 1px solid #02579A;

            td {
              padding-top: 36px;
              padding-bottom: 24px;
            }
          }

          &:last-of-type {
            td {
              padding-top: 30px;
              padding-bottom: 34px;
            }
          }
        }
      }
    }
  }

  .kerio,
  .usergate {
    transition: all ease .3s;

    &.hidden {
      // width: 0;
      // height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}


// TABLESAW

body {

	.tablesaw-all-cols-visible .tablesaw-advance {
		display: none;
	}

	.tablesaw-btn {
		box-shadow: none;
	}

	.tablesaw-swipe .tablesaw-swipe-cellpersist {
		border-right: none;
	}

  .tablesaw-advance a.tablesaw-nav-btn.left,
  .tablesaw-advance a.tablesaw-nav-btn.right {
    position: absolute;
    z-index: 3;
  }

  .license__block {

    .tablesaw-advance a.tablesaw-nav-btn.left,
    .tablesaw-advance a.tablesaw-nav-btn.right {
      top: 7px;
    }

    .tablesaw-advance a.tablesaw-nav-btn.left {
      left: 200px;

      @media screen and (max-width: 576px) {
        left: 150px;
      }
    }

    .tablesaw-advance a.tablesaw-nav-btn.right {
      right: -15px;
    }
  }

	.tablesaw-advance a.tablesaw-nav-btn,
	.tablesaw-advance a.tablesaw-nav-btn.disabled {
		width: 30px;
		min-height: 30px;
	}

	.tablesaw-advance a.tablesaw-nav-btn.left:before,
	.tablesaw-advance a.tablesaw-nav-btn.right:before {
		border-top: 10px solid transparent;
    	border-bottom: 10px solid transparent;
	}

	.tablesaw-advance a.tablesaw-nav-btn.left:before {
		left: .8em;
		border-right: 10px solid #fff;
	}

	.tablesaw-advance a.tablesaw-nav-btn.right:before {
		left: 1em;
		border-left: 10px solid #fff;
	}
}

